---
import Layout from "../components/BaseLayout.astro"
import { getEntry } from "astro:content"
import avatar from "../assets/pfp.avif"

const pfp = avatar.src

const aboutEntry = await getEntry("pages", "about")
const { Content } = await aboutEntry.render()

export const LINKS = [
	{
		title: "GitHub",
		url: "https://github.com/IshanKBG",
	},
	{
		title: "Twitter",
		url: "https://x.com/IshanKBG",
	},
	{
		title: "LinkedIn",
		url: "https://linkedin.com/IshanKBG",
	},
	{
		title: "Email",
		url: "mailto:me@ishankbg.dev",
	},
	{
		title: "RSS",
		url: "/feed.xml",
	},
]

export const SKILLS = [
	"JavaScript",
	"TypeScript",
	"Node.js",
	"React",
	"Docker",
	"Rust",
	"Python",
	"C",
	"C++",
	"Linux",
	"Go",
	"PostgreSQL",
	"MySQL",
]
---

<Layout
	title="Home"
	description="My Personal space where I can share pieces of my mind."
	url={Astro.site}
>
	<section>
		<h1 class="text-2xl font-bold">
			Hi, I'm <span class="ml-2 text-4xl font-extrabold">Ishan Jaiswal</span>
		</h1>
		<section class="grid grid-cols-[70%_30%] gap-8 items-start">
			<div class="flex flex-col gap-4">
				<hr class="border-gray-700 h-full my-4" />
				<Content />
				<section class="mt-6">
					<h2 class="text-2xl font-bold mb-2">Links</h2>
					<div class="flex flex-wrap gap-2">
						{
							LINKS.map((link) => (
								<a
									href={link.url}
									class="inline-block bg-[#0f62fe] text-white uppercase font-mono text-xs px-2 py-1 rounded-full hover:bg-[#0353e9] transition-all duration-200 ease-in-out"
								>
									{link.title}
								</a>
							))
						}
					</div>
				</section>
				<section class="mt-6">
					<h2 class="text-2xl font-bold mb-2">
						Skills & Technologies
					</h2>
					<div class="flex flex-wrap gap-2">
						{
							SKILLS.map((skill) => (
								<span class="inline-block bg-gray-700 text-white uppercase font-mono text-xs px-2 py-1 rounded-full">
									{skill}
								</span>
							))
						}
					</div>
				</section>
			</div>
			<div class="pfp" style={`background-image: url('${pfp}');`}></div>
		</section>
	</section>
</Layout>

<style>
	.pfp {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-size: cover;
		background-position: top;
		border-radius: 50%;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
</style>
