---
import { ViewTransitions } from "astro:transitions";
import avatar from "../assets/avatar.avif";
import {Image} from "astro:assets";
const {title, description, keywords, url} = Astro.props
---
<html lang="en">
    <head>
		<title>{title}</title>
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
                rel="alternate"
                type="application/rss+xml"
                title={title}
                href={`${Astro.site}feed.xml`}
        />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
        <meta name="author" content="Ishan Jaiswal">
        <ViewTransitions />
        <slot name="head" />
    </head>
    <body class="bg-[#1E2021] text-[#FBF0C6] min-w-full min-h-screen flex flex-col p-1 px-[5vw] md:px-[20vw] gap-8 mx-auto">
    <header class="flex bg-[#32302F] p-4 w-full rounded-lg mx-auto items-center justify-between md:">
        <div class="flex items-center">
            <Image src={avatar} class="rounded-lg" alt="Logo" width="75" height="75" />
            <a href="/" class="text-lg font-bold ml-2 md:ml-0">IshanKBG</a>
        </div>

        <div class="flex flex-col md:flex-row md:gap-4">
            <a href="/archive" class="text-[#FBF0C6] mt-2 md:mt-0" data-astro-prefetch>Archive</a>
             
            <a href="/about" class="text-[#FBF0C6]">About</a>
        </div>
    </header>
    <main class="flex flex-col gap-4">
        <slot />
    </main>
    <footer>
        <p class="text-center">Checkout the <a href="https://github.com/IshanKBG/ishankbg.dev">source code</a></p>
    </footer>
    </body>
	<style is:global>
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

</style>
</html>
