---
import { ViewTransitions } from "astro:transitions"
import avatar from "../assets/avatar.avif"
import { Image } from "astro:assets"
const { title, description, keywords, url } = Astro.props
---

<html lang="en">
	<head>
		<title>{title}</title>
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={title}
			href={`${Astro.site}feed.xml`}
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="Ishan Jaiswal" />
		<link rel="canonical" href={url} />
		<script
			defer
			src="https://umami-black-xi.vercel.app/script.js"
			data-website-id="6c8a1e3e-f588-47e9-93dd-2d946cad1f39"
			is:inline></script>
		<ViewTransitions />
		<slot name="head" />
	</head>
	<body
		class="bg-[#262626] text-white min-w-full min-h-screen flex flex-col gap-8 mx-auto"
	>
		<header class="w-full bg-[#161616]">
			<nav
				class="font-mono text-xl uppercase font-medium px-[5vw] md:px-[20vw] py-6 flex justify-between items-center"
			>
				<a
					class="hover:text-[#0f62fe] transition-all duration-200 ease-in-out"
					href="/">IshanKBG.dev</a
				>
				<ul class="flex gap-4">
					<li class="inline-block">
						<a
							class="hover:text-[#0f62fe] transition-all duration-200 ease-in-out"
							href="/about">About</a
						>
					</li>
					<li class="inline-block">
						<a
							class="hover:text-[#0f62fe] transition-all duration-200 ease-in-out"
							href="/archive">Blog</a
						>
					</li>
					<li class="inline-block">
						<a
							class="hover:text-[#0f62fe] transition-all duration-200 ease-in-out"
							href="/projects">Projects</a
						>
					</li>
				</ul>
			</nav>
		</header>
		<main class="flex flex-col gap-4 px-[5vw] md:px-[20vw] grow font-serif">
			<slot />
		</main>
		<footer>
			<p class="w-full bg-[#161616] text-center py-8 font-mono text-xl">
				© 2024-2025 <strong>Ishan Jaiswal</strong>, under <strong
					>MIT License</strong
				>.<br />
				<span class="mt-2 block">
					Checkout the
					<a
						class="text-[#0f62fe] underline underline-offset-4"
						href="https://github.com/IshanKBG/ishankbg.dev"
						>source code</a
					>
					here.
				</span>
			</p>
		</footer>
	</body><style is:global>
		@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
		:root {
			font-family: "IBM Plex Sans", sans-serif;
			font-feature-settings:
				"liga" 1,
				"calt" 1; /* fix for Chrome */
		}
		@supports (font-variation-settings: normal) {
			:root {
				font-family: "IBM Plex Sans", sans-serif;
			}
		}
	</style>
</html>
